<!doctype html>
<html lang="en">
<head>
    <style>
        body.fon_us {
      background-image: url('static/img/fon.jpg');
        }
       </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ css_file }}">
    <style>a.button7 {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: .8em 1em calc(.8em + 3px);
  border-radius: 3px;
  background: #2d9bf0;
  box-shadow: 0 -3px #2d9bf0 inset;
  transition: 0.2s;
   position: absolute;
}
a.button7:hover { background: #12cdd4; }
a.button7:active {
  background: #1b84c6;
  box-shadow: 0 3px #1b84c6 inset;
} </style>
</head>
<body class="fon_us">
<header style="background-color: #2d9bf0; height: 80px; margin-bottom: 30px;">
    <a href="/"><img src="{{ logo_photo }}" height="65" style="float: left; margin-left: 10px; margin-top: 7px;"></a>
    <div style="margin-left: 30px; float: left">
        <a href="/" class="button7" style="top: 30px; left: 200px;">Задать вопрос</a>
        <a href="/" class="button7" style="top: 30px; left: 350px">Мои вопросы</a>
        <a href="/about_us" class="button7" style="top: 30px; left: 497px;">О нас</a>
    </div>
        <a href="/news" class="button7" style="top: 30px; left: 710px;">
           Войти
        </a>
        <a href="/news" class="button7" style="top: 30px; left: 800px;">
            Зарегистрироваться
        </a>
    <p></p>
</header>
    <div>
        {% block login %}{% endblock %}
        {% block about_us %}{% endblock %}
    </div>
<footer>
    <div class="floor" style="background-color: #808080; margin-top: 30px; height: 80px;">
         <a href="/"><img src="{{ logo_photo }}" height="65" style="float: left; margin-left: 10px; margin-top: 7px;"></a>
        <div style="float: left; color: #c6cdcc; font-size: 14px; line-height: 1.4; margin-left: 30px;">
            Создатели проекты: Малявин Андрей и Глазков Вадим.<br>
            Автор идеи: Павел Гулиев.<br>
            Проект создан не в коммерческих целях, a для закрепления<br>
            знаний по созданию сайта, полученные в "Яндекс.лицее".<br>
        </div>
        <div style="float: left; margin-left: 35%; margin-top: 20px;">
            <a href="/"><img  width="35" height="35" src="{{vk}}"></a>&nbsp&nbsp&nbsp&nbsp
            <a href="/"><img  width="35" height="35" src="{{insta}}"></a>&nbsp&nbsp&nbsp&nbsp
            <a href="/"><img  width="35" height="35" src="{{face}}"></a>&nbsp&nbsp&nbsp&nbsp
            <a href="/"><img  width="35" height="35" src="{{git_hub}}"></a>&nbsp&nbsp&nbsp&nbsp
            <a href="/"><img  width="35" height="35" src="{{youtube}}"></a>
        </div>
    </div>

</footer>
</body>
</html>