{% extends "base.html" %}

{% block my_ask %}
    {% for qst in ask%}
        <div>
            <a href="/qu_edit/{{ qst.id }}/my_ask" class="button6">
                Изменить
            </a>
            <a href="/delete_ask/{{ qst.id }}/None" class="button6">
                Удалить
            </a>
            <a href="/close_ask/{{ qst.id }}/my_ask" class="button6">
                {% if qst.activity %}
                    Закрыть тему
                {% else %}
                    Открыть тему
                {% endif %}
            </a>
        </div>
        <a href="/inf_ask/{{qst.id}}">
            <p class="question">{{ qst.title }}</p>
        </a>
        <div class="stars">
        {% for num in range(1, 6) %}
                {% if num * 100 <= qst.popular %}
                    <img src="{{ star_on_o }}" width="17">
                {% else %}
                    <img src="{{ star_off_o }}" width="17">
                {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
{% endblock %}
