{% extends "base.html" %}

{% block profil %}
    <div style="margin-left: 50px">
        <img src="{{avatar}}" height="100">
        <span style="float: right; margin-right: 80%; margin-top: 30px;">{{user.name}}&nbsp&nbsp{{user.surname}}</span>
    </div>
    <br><br>
    <span style="margin-left: 50px; font-size: 22px;">Вопросы:</span>
    <br><br>
    {% for qst in questions %}
        <a href="/inf_ask/{{qst.id}}">
            <p class="question">{{ qst.title }}</p>
        </a>
        <div class="stars">
        {% for num in range(1, 6) %}
                {% if num * 100 <= qst.popular %}
                    <img src="{{ star_on_o }}" width="17">
                {% else %}
                    <img src="{{ star_off_o }}" width="17">
                {% endif %}
        {% endfor %}
        </div><br><br>
    {% endfor %}
{% endblock %}
