{% extends "base.html" %}


{% block read_ask %}
    <div>
        <h1>Заголовок вопроса: {{ ask.title }}</h1>
        <div class="together_with">
            <img src="{{ava}}" width="40" class="photo_straw">
            <div class="datem">
                {{ask.user.name}} {{ask.user.surname}}&nbsp&nbsp{{ask.date}}
            </div>
        </div><br><br>
                <p class="question">{{ ask.question }}</p>
            <div class="stars">
            {% for num in range(1, 6) %}
                    {% if num * 10 <= ask.popular %}
                        <img src="{{ star_on_o }}" width="17">
                    {% else %}
                        <img src="{{ star_off_o }}" width="17">
                    {% endif %}
            {% endfor %}
            </div>
        {% if current_user.is_authenticated %}
            {% if current_user.id == ask.author %}
            <div>
                <a href="/qu_edit/{{ ask.id }}/inf_ask" class="button6">
                    Изменить
                </a>
                <a href="/delete_ask/{{ ask.id }}/title" class="button6">
                    Удалить
                </a>
                <a href="/close_ask/{{ ask.id }}/inf_ask" class="button6">
                    {% if ask.activity %}
                        Закрыть тему
                    {% else %}
                        Открыть тему
                    {% endif %}
                </a>
                <br><br>
            </div>
            {% endif %}
        {% endif %}
            <div>
                {% if stay_photo %}
                <img src="{{ fon_li }}"  height="500">
            </div><br><br>
                {% endif %}
        {% for id, color, com, name, surname, avatar, date, author in commentar%}
            <br>
            <div class="together_with">
                <a href={{author}}><img src="{{avatar}}" width="40" class="photo_straw"></a>
                <div class="datem">
                    {{name}} {{surname}}&nbsp&nbsp{{date}}
                </div>
            </div><br><br>
            {% if color %}
                <a href="/color_com/{{id}}">
                <p class="question" style="background: rgb(45, 179, 45)">{{ com }}</p>
                </a>
            {% else %}
                <a href="/color_com/{{id}}">
                <p class="question" style="background: rgb(200, 200, 200)">{{ com }}</p>
                </a>
            {% endif %}
            {% endfor %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {% if current_user.is_authenticated %}
            {% if ask.activity %}
            <p>
                {{ form.comment.label }}
                {{ form.comment(class="rounded-input") }}
                {% for error in form.comment.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="button6") }}</p>
            {% endif %}
        {% endif %}
        <div>{{ message }}</div>
    </form>
    </div>
{% endblock %}